---
import { Icon } from 'astro-icon'
---

<ul class="flex gap-x-4">
  <li>
    <div class="w-12 h-12 flex justify-center items-center bg-[#0077B5] rounded-full">
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:linkedin" />
      </div>
    </div>
  </li>
  <li>
    <div class="w-12 h-12 flex justify-center items-center bg-[#F77737] rounded-full">
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:instagram" />
      </div>
    </div>
  </li>
  <li>
    <div class="w-12 h-12 flex justify-center items-center bg-red-400 rounded-full">
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:youtube" />
      </div>
    </div>
  </li>
  <li>
    <div class="w-12 h-12 flex justify-center items-center bg-[#1DA1F2] rounded-full">
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:twitter" />
      </div>
    </div>
  </li>
</ul>