---
import { Icon } from 'astro-icon'
---

<ul class="flex gap-x-4">
  <li>
    <a
      href="https://www.linkedin.com/in/caio-nobre-b429b5206/"
      target="_blank"
      class="w-12 h-12 flex justify-center items-center bg-[#0077B5] rounded-full"
    >
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:linkedin" />
      </div>
    </a>
  </li>
  <li>
    <a
      href="https://github.com/caionobrex"
      target="_blank"
      class="w-12 h-12 flex justify-center items-center bg-[#24292e] rounded-full"
    >
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:github" />
      </div>
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/caio.nobre.m/"
      target="_blank"
      class="w-12 h-12 flex justify-center items-center bg-[#F77737] rounded-full"
    >
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:instagram" />
      </div>
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com/channel/UCUdB116PJK87D8CME0i31LQ"
      target="_blank"
      class="w-12 h-12 flex justify-center items-center bg-red-400 rounded-full"
    >
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:youtube" />
      </div>
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/caionobrex"
      target="_blank"
      class="w-12 h-12 flex justify-center items-center bg-[#1DA1F2] rounded-full"
    >
      <div class="w-8 h-8 text-white">
        <Icon name="mdi:twitter" />
      </div>
    </a>
  </li>
</ul>